{% extends "govuk/template.njk" %}

{% block head %}
    <!--[if !IE 8]><!-->
    <link href="{{assetPath}}/stylesheets/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.css" rel="stylesheet"/>
    <!--<![endif]-->

    {# For Internet Explorer 8, you need to compile specific stylesheet #}
    {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
    <!--[if IE 8]>
      <link href="{{assetPath}}/stylesheets/govuk-frontend/v3.11.0/govuk-frontend-ie8-3.11.0.min.css" rel="stylesheet" />
    <![endif]-->
    {% block download %}{% endblock %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Find a Standard Industrial Classification (SIC) code"
  }) }}
{% endblock %}

{% block bodyEnd %}
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script src="{{assetPath}}/javascripts/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.js"></script>
    <script>
        window
            .GOVUKFrontend
            .initAll()
    </script>
{% endblock %}

{% macro errorSummary() %}
    {% if formValidationResult.hasErrors %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: formValidationResult.errors
        }) }}
    {% endif %}
{% endmacro %}
