{% extends "base.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
  Find a Standard Industrial Classification SIC code – GOV.UK
{% endblock %}

{% block content %}
<h3 class="govuk-heading-xl">Find a Standard Industrial <br> Classification (SIC) code</h3>

<form method="POST">

    {%if errors %}
      <p class="govuk-error-summary">A Server Error occured when trying to find your SIC Code</p>
    {% endif %}

    {{ govukInput({
    label: {
        text: "Search for a SIC code",
        classes: "govuk-label--l",
        isPageHeading: false
    },
    classes: "govuk-!-width-two-thirds",
        hint: {
          html: "You can enter keywords to search for a SIC code or enter a SIC code to see <br> what business activity it describes."
    },
    id: "sic-code-search-name",
    name: "sicCodeSearchName",
    value: searchText
    }) }}

{{ govukCheckboxes({
  idPrefix: "match-options",
  name: "matchOptions",
  items: [
    {
      value: "and",
      text: "Match exact phrase",
      checked: true if matchOptions === 'and'
    }
  ]
}) }}
    
    {{ govukButton({
    text: "Search",
    attributes: { id: "search-button" }
    }) }}
</form>

{% if matches|length %}

   {% if matches|length == 1 %}
     {% set resultsCountMessage = "There is " + (matches|length) + " result for '" + searchText  + "'" %}
     {% else %}
     {% set resultsCountMessage = "There are " + (matches|length) + " results for '" + searchText  + "'" %}
   {% endif %}

   <h3 class="govuk-heading-m" id="sic_code_results_count_message">{{ resultsCountMessage }}</h3>
   {{ govukTable({
    firstCellIsHeader: false,
        head: [
          {
            text: "SIC Code",
            attributes: { id: "sic_code_header" }
          },
          {
            text: "Details",
            attributes: { id: "sic_code_header" }
          },
          {
            text: "Business activity",
            attributes: { id: "economic_activity_header" }
          }
        ],
        rows: matches
      }) }}
{% else %}
     <h3 class="govuk-heading-m" id="no_sic_code_matches_message">No Matches</h3>
{% endif %}

{% endblock %}
