{% extends "base.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
  SIC Code Search
{% endblock %}

{% block content %}
<h3 class="govuk-heading-xl">SIC Code Search</h3>

<form method="POST" action="/">

    {%if errors %}
      <p class="govuk-error-summary">A Server Error occured when trying to find your SIC Code</p>
    {% endif %}

    {{ govukInput({
    label: {
        text: "Enter keyword(s) to search for SIC code",
        classes: "govuk-label--l",
        isPageHeading: true
    },
    id: "sic-code-search-name",
    name: "sicCodeSearchName",
    value: searchText
    }) }}

{{ govukCheckboxes({
  idPrefix: "match-options",
  name: "matchOptions",
  fieldset: {
    legend: {
      text: "Match Options",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "and",
      text: "Only match when all keywords are found",
      checked: true if matchOptions === 'and'
    }
  ]
}) }}
    
    {{ govukButton({
    text: "Search"
    }) }}
</form>

{% if matches|length %}
   {{ govukTable({
        caption: "Matching SIC Codes",
        captionClasses: "govuk-table__caption--m",
        head: [
          {
            text: "SIC Code"
          },
          {
            text: "SIC Description"
          },
          {
            text: "Economic Activity"
          }
        ],
        rows: matches
      }) }}
{% elif matches %}
     <h3 class="govuk-heading-m">No Matches</h3>
{% endif %}

{% endblock %}
